# Text mining project
## Group 12

In [1]:
import pandas as pd

In [4]:
ner_test = pd.read_csv('NER-final-test.tsv', delimiter='\t')
st_test = pd.read_csv('sentiment-topic-final-test.tsv', delimiter='\t')

In [5]:
ner_test

     sentence id  token id  token BIO NER tag
0              0         0     It           O
1              0         1   took           O
2              0         2  eight           O
3              0         3  years           O
4              0         4    for           O
..           ...       ...    ...         ...
209            9        12    get           O
210            9        13   into           O
211            9        14   this           O
212            9        15    one           O
213            9        16      .           O

[214 rows x 4 columns]